<div class="w-full bg-white mb-3 border-2 border-slate-200 p-9">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.email_field :email,
                      autofocus: true,
                      autocomplete: "email",
                      class: "login-input",
                      placeholder: "E-mail" %>

    <%= f.password_field :password,
                         autocomplete: "current-password",
                         class: "login-input",
                         placeholder: "Senha" %>

    <%= f.submit "Log in", class: "login-submit" %>
  <% end %>
</div>

<%= render "devise/shared/links" %>
